## 6. Prediction - Long-Short Term Memory Model

### About this Method and the assumption we have behind it:
- We assume the 6 Numbers which we did not see the longest time should be drawn in short future
- We try our Luck and pick the 6 Numbers which we did not see the longest time

### The Statistical Assumption behind this
- In a perfect World with infinite Lottery Games all Numbers should always be drawn equally often at one point in time
- We assume that it's on the time, that some of the longest not drawn numbers appear on the next drawings

For this 3 Prediction we Take the 6 longest not Drawn Numbers

In [3]:
# Import Libraries needed
import pandas as pd
import matplotlib.pyplot as plt
import ast
import numpy as np
from sklearn.preprocessing import MinMaxScaler

plt.style.use('https://github.com/dhaitz/matplotlib-stylesheets/raw/master/pitayasmoothie-dark.mplstyle')

### Load the Data we Stored in the data Folder with Notebook 1

In [4]:

# Load the CSV file into a DataFrame
frequency_data = pd.read_csv("data/frequency_data.csv")

### Convert date from String to Datetime for Evaluation
And further Data Processing for our needs

In [14]:
# convert the string to datetime
frequency_data["date"] = pd.to_datetime(frequency_data["date"], format='%d.%m.%Y')

# Convert the Lottozahl column to a list of integers
# frequency_data["Lottozahl"] = frequency_data["Lottozahl"].apply(lambda x: eval(x))

# Expand the Lottozahl column into seperate columns
df_expanded = pd.DataFrame(frequency_data["Lottozahl"].tolist(), columns=['Lottozahl_1', 'Lottozahl_2', 'Lottozahl_3', 'Lottozahl_4', 'Lottozahl_5', 'Lottozahl_6'])

# Create the final Dataframe
df_final = pd.concat([frequency_data.drop(columns= "Lottozahl"), df_expanded], axis=1)


# Cast the Date into own columns
df_final["day"] = df_final["date"].dt.day
df_final["month"] = df_final["date"].dt.month
df_final["year"] = df_final["date"].dt.year

# Drop the Superzahl Column (we only Predict the 6 Lotto Numbers)
df_final.drop(["Superzahl", "id","date"], axis=1, inplace=True)

df_final.head()

,Lottozahl_1,Lottozahl_2,Lottozahl_3,Lottozahl_4,Lottozahl_5,Lottozahl_6,day,month,year
0,3,12,13,16,23,41,9,10,1955
1,3,12,18,30,32,49,16,10,1955
2,12,14,23,24,34,36,23,10,1955
3,4,13,23,30,36,44,30,10,1955
4,5,6,31,39,44,49,6,11,1955

### Scale the Features for the LSTM Model 
- we will use a MinMax Scaler here and restrict the range from 0-1 due to we have only positive values

In [15]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(df_final)

# Predictions for the 3 Lottery Ticket Field!

### DISCLAIMER:
- This is a Fun Project to Showcase some IT Skills
- Lottery is a total statistically Random Game
- Do not use or let you inspire by this Prediction!
- Gambling can make you addicted! Only Play with Caution!
- I claim no rights, that my outputs would even be near the drawn value

### About the Predictions:
- In Field 3 we go for the longest Time no See Numbers each Lottery Ticket we play
- The Superzahl only appears once per Lottery Ticket - we will take Random 7 or 4 for each Lottery Ticket
- This is a common Lottery Strategy - even if you win with this Numbers, you would have to share the Prize Pool with many other People
- We will do more complex Prediction Strategies in later Notebooks
- This Prediction will vary more from Week to Week than the first 2, because when a Number gets drawn it refreshes its date and will not show up here for a longer time

In [6]:
# Format the first 6 Numbers for better Output
formatted_numbers = ", ".join(map(str, least_recently_drawn.index))



# Print your Lucky Numbers
print("Your Lucky Numbers For Field 3 (Longest Time not Drawn):",formatted_numbers," Superzahl:", np.random.choice([4,7]))

Your Lucky Numbers For Field 3 (Longest Time not Drawn): 12, 14, 15, 46, 30, 22  Superzahl: 7